body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.grid-item {
  background: #B25100;
  height: 100px;
  margin-bottom: 20px;
}

/*Nesting grid-items*/
.nested-grid-item {
  background: #37A0B2;
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.grid-one {
  width: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  background: #9AE1E3;
}

.grid-one:before {
  content: '';
  display: table;
}

.grid-one:after {
  content: '';
  display: table;
  clear: both;
}

/*LostGrid automatically compiles changes to the cycle*/
/*.grid-one div {
  lost-column: 1/3;
}*/

/*You can use regular media queries to make the grid responsive*/

.grid-one div {
  width: calc(99.9% * 1/1 - (30px - 30px * 1/1));
  position: relative;
}

.grid-one div:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none;
}

.grid-one div:last-child {
  margin-right: 0;
}

.grid-one div:nth-child(1n) {
  margin-right: 0;
  float: right;
}

.grid-one div:nth-child(1n + 1) {
  clear: both;
}

.grid-one div > * {
  position: absolute;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*Centering content*/
.grid-one div h2 {
  color: #D0DC67;
  font-family: Sans-serif;
  margin: 0;
}



@media (min-width: 400px){
  .grid-one div {
    width: calc(99.9% * 1/2 - (30px - 30px * 1/2));
  }
  .grid-one div:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .grid-one div:last-child {
    margin-right: 0;
  }
  .grid-one div:nth-child(2n) {
    margin-right: 0;
    float: right;
  }
  .grid-one div:nth-child(2n + 1) {
    clear: both;
  }
}

@media (min-width: 900px){
  .grid-one div {
    width: calc(99.9% * 1/3 - (30px - 30px * 1/3));
  }
  .grid-one div:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .grid-one div:last-child {
    margin-right: 0;
  }
  .grid-one div:nth-child(3n) {
    margin-right: 0;
    float: right;
  }
  .grid-one div:nth-child(3n + 1) {
    clear: both;
  }
}

@media (min-width: 1100px){
  .grid-one div {
    width: calc(99.9% * 1/4 - (50px - 50px * 1/4));
  }
  .grid-one div:nth-child(1n) {
    float: left;
    margin-right: 50px;
    clear: none;
  }
  .grid-one div:last-child {
    margin-right: 0;
  }
  .grid-one div:nth-child(4n) {
    margin-right: 0;
    float: right;
  }
  .grid-one div:nth-child(4n + 1) {
    clear: both;
  }
}
